.login-card {
    width: 450px;
    margin: 10% auto;
    padding: 30px 30px 20px 30px;

    .content {
        margin-top: 15px;
    }

    .notify {
        text-align: center;
        color: red;
    }

    .hide {
        visibility: hidden;
    }
}

.full-width {
    width: 100%;
}
