<link rel="stylesheet"
    href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
    integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<div>
    <div class="row">
        <div class="col-lg-10 col-md-10 ml-auto mr-auto">
            <h1>Danh sách sản phẩm</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10 col-md-10 ml-auto mr-auto">
            <button class="btn btn-outline-primary" data-toggle="modal" type="button" data-target="#insertModal"
                value="insert">Thêm sản phẩm</button>
        </div>

        <!-- Modal -->
        <app-add-product-dialog></app-add-product-dialog>
    </div>

    <div class="row">
        <div class="col-lg-10 col-md-10 ml-auto mr-auto">
            <div class="row">
                <input class="form-control" type="text" id="search" placeholder="Mã sản phẩm" #search/>
                <button class="btn btn-primary" type="button" value="search" (click)="searchProduct()"><i class="fa fa-search"
                        aria-hidden="true"></i></button>
                <button class="btn btn-primary" type="reset" value="reset" (click)="search.value=''"><i class="fa fa-refresh"
                        aria-hidden="true"></i></button>
            </div>

            <div *ngIf="products.length > 0">
                <mat-paginator #paginatorTop [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex"
                    [pageSizeOptions]="pageSizeOptions" showFirstLastButtons
                    (page)="onPageEvent($event)">
                </mat-paginator>
                <table class="table table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>#</th>
                            <th>Mã vạch</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá nhập</th>
                            <th>Giá bán</th>
                            <th>Đơn vị</th>
                            <th>Loại sản phẩm</th>
                            <th>Trạng thái</th>
                            <th>Cập nhật lần cuối</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let prod of products; let i = index">
                            <td class="align-middle">{{i+1+pageIndex*pageSize}}</td>
                            <td class="align-middle">{{prod.barcode}}</td>
                            <td class="align-middle">{{prod.name}}</td>
                            <td class="align-middle">{{prod.importPrice}}</td>
                            <td class="align-middle">{{prod.exportPrice}}</td>
                            <td class="align-middle">{{prod.unitName}}</td>
                            <td class="align-middle">{{prod.categoryName}}</td>
                            <td class="align-middle">{{prod.status == 1 ? "Đang kinh doanh" : "Ngừng kinh doanh"}}</td>
                            <td class="align-middle">{{prod.lastUpdate}}</td>
                            <td class="align-middle"><button class="btn btn-outline-primary" type="button" value="edit">Sửa</button></td>
                            <td class="align-middle"><button class="btn btn-outline-primary" type="button" value="delete">Xóa</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="products.length == 0">
                Không có dữ liệu để hiển thị
            </div>
        </div>
    </div>

</div>