.container {
    margin-top: 15px;
}

#search {
    margin-left: 20px;
    width: 40%;
    margin-bottom: 10px;
}

.form-check {
    padding-top: 10px;
    margin-left: 30px;
}

table {
    width: 100%;
}

#unit-select select,
#category-select select {
    width: 50%;
}

.btn-group {
    padding-top: 5px;
    margin-left: 10px;
}
